<div ng-app='app.ldpathApp' ng-controller='LdpathCtrl'>
  <form>
    <div class="form-group">
      <label for="url">URL</label>
      <input id="url" class="form-control" type="text" ng-model="ldpath.url" ng-model-options="{ updateOn: 'blur' }" />
    </div>

    <div class="form-group">
      <label for="program">Program</label>
      <div ui-ace="{
        mode: 'ldpath',
        require: ['ace/ext/language_tools'],
        advanced: {
          enableSnippets: true,
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
        }
      }" ng-model="ldpath.program" ng-model-options="{  updateOn: 'default blur', debounce: 1000 }"></div>
    </div>
  </form>
  
  <hr />
  
  <h1>{{ldpath.url}}</h1>
  <div hljs language="json" source="response.content"></div>
</div>